{% extends "base.html" %}
{% block title %}Data Analysis{% endblock %}
{% block content %}
	{# Headline #}
	<h1 class="text-center">Data Analysis</h1>
	{# Setup row #}
	<div class="row">
		{# Left Column #}
		<div class="col">
			{# Form for filtering #}
			<form>
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						{# Dropdown list #}
						<select class="form-select" id="ftype" name="ftype">
							<option value="0" {% if ftype == "0" %}selected{% endif %}>SSID</option>
							<option value="1" {% if ftype == "1" %}selected{% endif %}>BSSID</option>
						</select>
					</div>
					<div class="col-auto">
						{# Text field #}
						<input class="form-control" type="text" id="fstr" name="fstr" value="{{ fstr }}">
					</div>
					<div class="col-auto">
						{# Submit Button #}
						<button class="btn btn-dark" type="submit">Filter</button>
					</div>
				</div>
			</form>
			{# Vertical Spacer #}
			<br>
			{% if listview %}
				{# List of Data #}
				<ul class="list-group">
					{# Go through all keys (ssids) #}
					{% for ssid in listview %}
						{# Create a list element for each #}
						<li class="list-group-item"><a href="/data/ssid/{{ ssid }}">{{ ssid }}</a>
							<ul class="list-group">
								{# Go through all bssids for that ssid #}
								{% for bssid_scans in listview[ssid] %}
									{# and create a list element for these #}
									<li class="list-group-item"><a href="/data/bssid/{{ bssid_scans[0] }}">{{ bssid_scans[0] }}</a><p class="text-end">{{ bssid_scans[1] }}</p></li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<div class="row bg-danger justify-content-center text-dark text-center align-items-center rounded">
					<div class="col">
						<h2>No Data</h2>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col">
			<img src="https://via.placeholder.com/500.png?text=Some+dataplot+here" class="rounded mx-auto d-block">
		</div>
	</div>
{% endblock %}
