{% extends "base.html" %}
{% block title %}Drone Controller{% endblock %}
{% block content %}
	<h1 class="text-center">Drone Controller</h1>
	<div class="row">
		<div class="col">
			<form>
				<div class="row g-3">
					<div class="col-6">
						<label class="form-label" for="width">Width of Rectangle (in cm)</label>
						<input class="form-control" type="text" id="width" name="width">
					</div>
					<div class="col-6">
						<label class="form-label" for="height">Height of Rectangle (in cm)</label>
						<input class="form-control" type="text" id="height" name="height">
					</div>
					<div class="col-12">
						<button class="btn btn-success" type="submit">Run</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col">
			<img src="https://via.placeholder.com/500.png?text=Drawing+of+path" class="rounded mx-auto d-block">
		</div>
	</div>
{% endblock %}
