{% extends "base.html" %}
{% block title %}Drone Controller{% endblock %}
{% block content %}
	<h1 class="text-center">Drone Controller</h1>
	<div class="row">
		<div class="col">
			{# Form to input values to the drone #}
			<form>
				<div class="row g-3">
					<div class="col-4">
						<label class="form-label" for="length">Length of Rectangle (in cm)</label>
						<input class="form-control" type="number" id="length" name="length" min="1" max="250" value="{{ length }}">
					</div>
					<div class="col-4">
						<label class="form-label" for="height">Height of Rectangle (in cm)</label>
						<input class="form-control" type="number" id="height" name="height" min="1" max="250" value="{{ height }}">
					</div>
					<div class="col-4">
						<label class="form-label" for="rounds">Amount of Rounds to fly</label>
						<input class="form-control" type="number" id="rounds" name="rounds" min="1" max="250" value="{{ rounds }}">
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="start" name="start">
						<label class="form-check-label" for="start">Start program</label>
					</div>
					<div class="col-12">
						<button class="btn btn-success" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col">
			{# Visual route plan #}
			<img src="http://localhost:8080/api/dronepath/{{ length }}.{{ height }}.png" width="500" class="rounded mx-auto d-block">
		</div>
	</div>
{% endblock %}
